.app_holder {
  display: flex;
}

.left_menu {
  width: 300px;
  min-width: 250px;
  height: 100vh;
  padding: 20px;
  background-color: $color-secondary-light;
}

.left_menu_top {
  @include flex(column, flex-start, center);
}

.project_btn {
  background-color: $color-secondary-light;
  text-align: left;
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
}

.project_btn:hover {
  background-color: $color-primary-light;
}

.project_menu {
  @include flex(row, center, space-between);
}

.btn_add {
  background-color: $color-secondary-light;
  text-align: center;
  font-size: $font-size-medium;
  width: 3rem;
  padding: 0.5rem;
  cursor: pointer;
}

.btn_add.active {
  display: none;
}

.btn_add:hover {
  background-color: $color-primary-light;
}

.add_project_popup {
  display: none;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.add_project_popup.active {
  display: block;
}

.input_add_project {
  border: 1px solid #aaa;
  margin-bottom: 10px;
}

.add_project_buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.btn_add_project {
  border: 1px solid #99dd99;
  background-color: #aaffaa;
  font-weight: bold;
}

.btn_cancel_project {
  border: 1px solid #eeadad;
  background-color: #ffbebe;
  font-weight: bold;
}

.btn_add_project:hover {
  background-color: #a6f0a6;
}

.btn_cancel_project:hover {
  background-color: #f5b2b2;
}

.btn_project_list {
  @include flex(row, center, space-between);
  gap: 2rem;
  background-color: $color-secondary-light;
}

.btn_del_list {
  background-color: $color-secondary-light;
  text-align: center;
  font-size: $font-size-medium;
  width: 2.5rem;
  padding: 0.1rem;
  cursor: pointer;
  text-align: right;
}
