$font-size-small: 18px;
$font-size-medium: 24px;
$font-size-large: 40px;
$font-family: 'Inter', sans-serif;
$color-primary-dark: #333;
$color-secondary-dark: #444;
$color-primary-light: #eee;
$color-secondary-light: #ddd;
$font-color: #208686;
$page-width: 650px;
